{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>PetSaúde | Login</title>
    <link rel="stylesheet" href="{% static 'projeto/css/logar.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>

        <form method="post">
            {% csrf_token %}

            <label for="id_email">E-mail:</label><br>
            {{ form.email }}<br>

            <label for="id_senha">Senha:</label><br>
            <div class="password-container">
                {{ form.senha }}
                <img src="{% static 'projeto/imagens/olho.png' %}" 
                     alt="Mostrar senha" 
                     class="toggle-password" 
                     onclick="toggleSenha(this)">
            </div><br>
            

            <button type="submit">Entrar</button>
        </form>

        <!-- Botão de acesso sem login -->
        <form action="/projeto/" method="get">
            <button type="submit" style="margin-top: 10px; background-color: #e74c3c;">Entrar sem login</button>
        </form>

        {% if erro %}
            <p class="error">{{ erro }}</p>
        {% endif %}

        {% if sucesso %}
        <div class="dialog-overlay">
            <div class="dialog-box">
                <div class="icon-circle">
                    <img src="{% static 'projeto/imagens/verificado.png' %}" alt="Verificado" class="checkmark-img">
                </div>        
                <div class="message" style="font-size: 30px;">Login bem-sucedido!</div>
            </div>
        </div>
        <script>
            setTimeout(function() {
                window.location.href = '/projeto/';
            }, 1500);
        </script>
        {% endif %}
    </div>

    <div class="register-link">
        <p>Não tem uma conta? <a href="/registrar">Registrar-se</a></p>
    </div>

    <!-- Script para alternar visibilidade da senha -->
    <script>
        function toggleSenha(img) {
            const senhaInput = document.getElementById("id_senha");
            const mostrarSrc = "{% static 'projeto/imagens/olho.png' %}";
            const ocultarSrc = "{% static 'projeto/imagens/olhofechado.png' %}";
    
            if (senhaInput.type === "password") {
                senhaInput.type = "text";
                img.src = ocultarSrc;
                img.alt = "Ocultar senha";
            } else {
                senhaInput.type = "password";
                img.src = mostrarSrc;
                img.alt = "Mostrar senha";
            }
        }
    </script>
    
</body>
</html>
