{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>PetSaúde | Registrar-se</title>
    <link rel="stylesheet" href="{% static 'projeto/css/registrar.css' %}">
</head>
<body>
    <div class="container">
        <h2>Registrar Usuário</h2>
        <form method="POST">
            {% csrf_token %}
            <label>Nome:</label><br>
            <input type="text" name="nome" value="{{ nome }}" required><br><br>

            <label>Email:</label><br>
            <input type="email" name="email" value="{{ email }}" required><br>
            {% if erro_email %}
                <p class="erro">{{ erro_email }}</p>
            {% endif %}
            <br>

            <label>Senha:</label><br>
            <input type="password" name="senha" required><br><br>

            <button type="submit">Registrar</button>
            <a href="{% url 'login' %}" class="voltar-btn">Voltar</a>
        </form>
    </div>
</body>
</html>
